.encabezado {
    text-align: center;
    color: blueviolet;
}

.container {
    text-align: center;
    color: rgb(64, 226, 43);
}

.containermain {
    text-align: center;
    color: rgb(43, 220, 226);
}